:root {
  --button-bg-color-main: #2a64e5;
  --button-bg-color-hover: #1846ad;
  --button-bg-color-active: #1846ad;
}

@font-face {
  font-family: "Carter One";
  src: local("Carter One"), url(./fonts/CarterOne-Regular.ttf) format("truetype");
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

canvas {
  background-color: #000;
}

#overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#panel {
  display: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  padding: 8px 16px;
}

#message {
  display: none;
  margin: 0;
  font-family: "Carter One";
  font-size: 22px;
  text-align: center;
}

#start-button {
  border: none;
  border-radius: 8px;
  background-color: var(--button-bg-color-main);
  color: #fff;
  padding: 8px 16px;
  width: 160px;
  font-family: "Carter One";
  font-size: 20px;
}

#start-button:hover {
  cursor: pointer;
  background-color: var(--button-bg-color-hover);
}

#start-button:active {
  cursor: pointer;
  background-color: var(--button-bg-color-active);
}
